/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  body  */
body {
  background-color: #000000;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  button  */
button#playSong {
  margin-top: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(0, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 255, 255);
  box-shadow:  0 0 10px rgb(0, 255, 255);
}

/*  piano  */
.piano {
  display: flex;
  border: 3px solid rgb(0, 255, 255);
  box-shadow:  0 0 10px rgb(0, 255, 255);
}

/* keys + key states */
.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  border: 3px solid rgb(0, 255, 255);
  /* box-shadow:  0 0 10px rgb(0, 255, 255); */
}

.white {
  --width: 100px;
  background-color: rgb(0, 0, 0);
  /* border: 3px solid #333; */
}

.white.active {
  border: 6px solid rgb(255, 0, 255);
  /* box-shadow: inset 0 0 15px rgb(255, 0, 255); */
  box-shadow: 0 0 15px rgb(255, 0, 255);
}

.black {
  --width: 60px;
  background-color: #000000;
  box-shadow: inset 0 0 0 3px rgb(0, 255, 255);
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  border: 5px solid rgb(255, 0, 255);
  /* box-shadow: inset 0 0 15px rgb(255, 0, 255); */
  box-shadow: 0 0 15px rgb(255, 0, 255);
}
