/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body */
body {
  background-color: #143f6b;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  piano  */
.piano {
  display: flex;
}

/* key */
.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

/* w keys */
.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

/* b keys */
.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

/* states */
.white.active {
  background-color: #ccc;
}

.black.active {
  background-color: #333;
}
